.header {
	/*border-bottom: 1px solid red;*/
}

.header-wrapper {
	border-bottom: 3px solid green;
	background: gray;
}

.footer-top-wrapper {
	background: rgba(85, 167, 154, .9);
	padding: 20px 0;
}

.footer-bottom-wrapper {
	background: black;
	padding: 20px 0;
}

.strap {
	color: green;
}

.didelis-taskas {
	font-size: 20px;
}

.request-form {
	background: green;
}

/*.request-form input[type="text"] {
	width: 85%;
	border: 2px solid gray;
	border-right: none;
    padding: 5px 10px;
}

.request-form input[type="submit"] {
	width: 15%;
	background: black;
	color: white;
	padding: 5px 10px;
	border: 2px solid black;
}*/

.request-form h4 {
	position: relative;
}

.request-form h4::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	height: 3px;
	width: 20%;
}

.features-text {
	color: gray;
	font-weight: 400;
	background: white;
}

.text-core {
	font-weight: 700;
	background: white;
}

.core-features-heading {
	position: relative;
	text-transform: capitalize;
}

h2::after {
	content: "";
	width: 100%;
	border-bottom: 3px solid gray;
	position: absolute;
	bottom: 7px;
	left: 0;
}

.heading-background {
	background: white;
	position: relative;
	z-index: 2;
	padding-right: 20px;
}

.sub-text {
	font-size: 12px;
	color: gray;
}

.footer-heading {
	text-transform: uppercase;
	font-weight: 900;
}

.btn-mano {
	background: green;
	font-size: 1rem;
	font-weight: 700;
	padding: 15px 45px;
}

.btn-mano i {
	padding-left: 20px;
}

.btn {
	border-radius: 30px;
}

.big-icon {
	color: #55A79A;
	font-size: 8rem;
}


.features-text-footer {
	color: darkgreen;
}

.nav-pills .nav-link {
	border-right: 1px solid gray;
	border-radius: 0;
}

.nav-pills .nav-link.active {
	background: none;
	color: #55A79A;
	border: 1px solid gray;
	border-right: none;
	border-radius: 0px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	position: relative;
}

.nav-pills .nav-link.active::before {
	content: '';
	height: 100%;
	width: 4px;
	background: #55A79A;
	position: absolute;
	left: 0;
	top: 0;
}


.modal-dialog {
	max-width: 800px;
}

@media(max-width: 768px) {
	.modal-dialog {
		max-width: 50px;
	}
}




















/*.request-form input {
	float: left;
}*/


















